@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');

/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    padding-left: 50px;
    background-color: #F2F2F2;
    padding-bottom: 40px;
}

.columna {
    flex: 1;
    padding: 10px;
}

.columna:first-child {
    margin-right: 70px;
}

.info1, .info2, .servicios, .contacto {
    display: flex;
    justify-content: space-between;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1920px;
}

hr {
    margin-top: 60px;
    border-top: 1px solid black;
    color: gray solid;
    margin-bottom: 60px;
}

/* NAVEGACION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;
    padding: 31px 50px;
}

nav h1 {
    font-family: 'Coiny', sans-serif;
    font-size: 36px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 100px;
}

nav a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

/* SOBRE AUTORAS */

.info1 h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 400;
}

.info1 h1 span {
    font-family: 'Coiny', sans-serif;
    font-size: 60px;
    font-weight: 700;
}

.info1 h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    background-color: #FCEE21;
    width: 370px;
    padding-left: 10px;
    margin-top: 30px;
}

.info1 p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 410px;
    margin-top: 40px;
}

.info1 p strong {
    font-weight: 700;
}

.info1 img {
    height: 470px;
}

.info2 h3 {
    margin-top: 20px;
    background-color: #FCEE21;
    width: fit-content;
    font-size: 25px;
}

.info2 p {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 400px;
}

.info2 p strong {
    font-weight: 700;
}

/* SOBRE SERVICIOS */

.servicios img {
    height: 420px;
}

.servicios h4 {
    font-size: 30px;
    margin-top: 40px;
}

.servicios ol {
    font-size: 20px;
    font-weight: 400;
    list-style-position: inside;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 40px;
}

.color {
    font-weight: 700;
    background-color: #FCEE21;
    width: fit-content;
}

/* FORMULARIO */

.columna h5 {
    font-size: 35px;
    line-height: 150%;
    color: #F2F2F2;
    background-color: black;
    margin: 0;
    width: auto;
    display: inline-block;
}

.form-env {
    margin-top: 30px;
    height: fit-content;
    width: 320px;
    padding-left: 25px;
    font-weight: 700;
    font-size: 25px;
    background-color: #FCEE21;
}

form label {
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
}

form label strong {
    color: crimson;
}

form input, form textarea {
    display: block;
    width: 500px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    border-width: 1px;
}

form input {
    font-weight: 400;
    font-size: 18.66px;
    color: #414166;
    height: 50px;
    margin-bottom: 10px;
}

form textarea {
    height: 130px;
    margin-bottom: 10px;
}

.botonenvio, .resetbutton {
    font-weight: 700;
    font-size: 20px;
    color: #F2F2F2;
    height: 45px;
    border-style: solid;
    background-color: black;
    display: inline;
}

.botonenvio {
    width: 220px;;
    margin-right: 156px;
}

.resetbutton {
    width: 120px;
}

/* REDES SOCIALES */

.redes-sociales {
    margin-top: 60px;
}

.redes-sociales div {
    color: grey;
    font-size: 30px;
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.redes-sociales div p {
    margin-left: 100px;
    width: 40px;
    margin-right: 470px;
}

.redes-sociales img {
    height: 80px;
    margin-right: 50px;
}

/* FOOTER */

footer {
    font-family: 'Coiny', sans-serif;
    font-weight: 700;
    background-color: #FCEE21;
    padding: 20px 50px;
    display: flex;
    align-items: center;
}

footer h2 {
    font-size: 26px;
    margin-right: 60px;
}

.correo-contacto {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    text-decoration: none;
}
